* {
  margin: 0;
  padding: 0;
}

body {
  background: #121212;
  font-family: 'Lato', sans-serif;
  font-size: small;
  color: #a0a0a0;
  display: flex;
  overflow: hidden;
  background-image: linear-gradient(to right bottom, rgb(53, 92, 100), rgb(0, 0, 0)), linear-gradient(transparent, rgb(0, 0, 0) 70%);
}

a {
  color: #a0a0a0;
}

.aside {
  background-color: rgba(0, 0, 0, .8);
  box-shadow: 0px 5px 8px #0f1015;
  height: 100vh;
  width: auto;
  top: 0;
}

.aside > * {
  padding: 25px;
}

.aside-header {
  padding: 24px 5px ;
  margin-bottom: 20px;
}
.aside-container {
  width: 140px;
}

p {
  padding: 24px 0 ;
}

.aside-link {
  align-items: center;
  color: #fff;
  display: flex;
  text-decoration: none;
  transition: color .4s;
  padding-left: 24px;

}

.aside-icon {
  margin-right: 10px;
  width: 131px;
  height: 40px;
}

.form-wrapper {
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, .25);
  border-bottom: 1px solid rgba(255, 255, 255, .25);
  display: flex;
  padding: 10px 0;
  margin: 20px;
}

.album-artist
{
  width: 300px;
  padding:  20px 0 ;
}

.container {
  height: 100vh;
  overflow: auto;
  width: 100%;
  margin: 0 auto;
  max-width: 1480px;
  padding-left: 320px;
}

.container-inner {
  padding: 0 32px;
  padding-top: 2rem;
}



.padded {
  padding: 10px;
}
